<div class="container">
  <div class="form">
    <form [formGroup]="AddPaymentForm">
      <div class="flex-row">
        <label for="card-number">Card Number</label>
        <input formControlName="number" name="card-number" class="card-number" type="text" value="">
      </div>
      <div class="flex-row">
        <label for="card-name">Exp_month</label>
        <input formControlName="exp_month" name="card-name" class="card-name" type="text" value="">
      </div>
      <div class="flex-row">
        <label for="card-name"> Exp_year</label>
        <input formControlName="exp_year" name="card-name" class="card-name" type="text" value="">
      </div>
      <div class="flex-row">
        <label for="card-name">Cvc</label>
        <input formControlName="cvc" name="card-name" class="card-name" type="text" value="">
      </div>
      <div class="flex-row">
        <button class="card-submit" (click)="addPayment()" [disabled]="AddPaymentForm.invalid" type="submit">Add</button>
      </div>
    </form>
    <img class="card-image" src="https://pngimg.com/uploads/credit_card/credit_card_PNG99.png" alt="Card image">
    <div class="card-image-shadow"></div>
  </div>
</div>











