<form [formGroup]="reviweService" class="ps-form--addition">
    <ngx-star-rating formControlName="star_rating" [id]="'star_rating'"></ngx-star-rating>
    <div class="form-group">
      <textarea  formControlName="comments" class="form-control" rows="6" placeholder="Enter your Review here..."></textarea>
    </div>
    <div class="form-group">
      <button (click)="send()" class="ps-btn">Submit</button>
    </div>
  </form>




  <div id="pre-loader"  *ngIf="loader">
    <div class="loader ">
        <div class="loader__item"></div>
        <div class="loader__item"></div>
        <div class="loader__item"></div>
        <div class="loader__item"></div>
        <div class="loader__item"></div>
        </div>      </div>