<div class="ps-hero bg--cover" data-background="images/hero/bread-1.jpg" style="background: url(&quot;images/hero/bread-1.jpg&quot;);">
  <div class="ps-container">
    <h3>Whislist page</h3>
    <div class="ps-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="index-2.html">Home</a></li>
        <li class="active">Whislist page</li>
      </ol>
    </div>
  </div>
</div>



<div class="ps-content">
  <div class="ps-container">
    <div class="table-responsive">
      <table class="table ps-table ps-table--whishlist">
        <thead>
          <tr>
            <th>All Products</th>
            <th>Price</th>
            <th>View</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a class="ps-product--compare" href="product-detail.html"><img class="mr-15" src="images/product/item-1.html" alt=""> Air jordan One mid</a></td>
            <td><strong>$150</strong></td>
            <td><a class="ps-product-link" href="product-detail.html">View Product</a></td>
            <td>
              <div class="ps-remove"></div>
            </td>
          </tr>
          <tr>
            <td><a class="ps-product--compare" href="product-detail.html"><img class="mr-15" src="images/product/item-2.html" alt=""> The Crusty Croissant</a></td>
            <td><strong>$150</strong></td>
            <td><a class="ps-product-link" href="product-detail.html">View Product</a></td>
            <td>
              <div class="ps-remove"></div>
            </td>
          </tr>
          <tr>
            <td><a class="ps-product--compare" href="product-detail.html"><img class="mr-15" src="images/product/item-3.html" alt="">The Rolling Pin</a></td>
            <td><strong>$150</strong></td>
            <td><a class="ps-product-link" href="product-detail.html">View Product</a></td>
            <td>
              <div class="ps-remove"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>