<div  style="text-align: center;"  class="ps-hero bg--cover" data-background="images/hero/bread-1.jpg" style="height: 89%; background: url(../../../assets/imgs/—Pngtree—staff\ deliver\ goods\ by\ motorbike_1752736.jpg);">
    <div style="text-align: center;" class="ps-container">
      <!-- <h3>Check out</h3> -->
      <div  style="text-align: center;" class="ps-breadcrumb">
        <!-- <ol class="breadcrumb">
          <li><a href="index-2.html">Home</a></li>
            </ol> -->

     
      </div>
    </div>
  </div>


  <div class="ps-checkout">
    <div class="ps-container">
      <form class="ps-form--checkout" action="http://warethemes.com/html/flourish/do_action" method="post">
        <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <div class="ps-checkout__billing" [formGroup]="formAddOrder">
                  <h3>Create order</h3>
                  <!-- <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
                    <input matSliderThumb aria-valuenow="valueyy">
                    <label for="formatLabel"[(ngModel)]="valueyy"value="valueyy" (click)="sele($event)">{{valueyy}}</label>
                  </mat-slider> -->
                      <div class="form-group form-group--inline">
                        <label>work_area<span>*</span>
                        </label>
                     
                        <div class="form-group__content">
                          <input formControlName="work_area" class="form-control" type="text">
                        </div>

                        <!-- <div>{{sliderValue}}</div>
                        <mat-slider (input)="onSliderChange($event)"></mat-slider> -->
                       
                     
                     
                      </div>
                      <div class="form-group form-group--inline">
                        <label>Date<span>*</span>
                        </label>
                        <mat-form-field appearance="outline" class="w-100">
                          
                            <input  formControlName="date" class="form-control" matInput [matDatepicker]="picker" >
                            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker  #picker></mat-datepicker>
                        </mat-form-field>
                        </div>
                      <div class="form-group form-group--inline">
                        <label>Time<span>*</span></label>
                        <div class="24hr-example">
                            <input formControlName="time" class="form-control" placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
                            <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                       </div>
                        
                      </div>
                      <div class="form-group form-group--inline">
                        <label>address<span>*</span>
                        </label>
                        <div class="form-group__content">
                          <input formControlName="address" class="form-control" type="email">
                        </div>
                      </div>
                      <div class="form-group form-group--inline">
                        <label>repeat<span>*</span>
                        </label>   
                        <div class="form-group__content">
                          <mat-form-field appearance="outline" class="w-100">
                            <!-- <mat-label>Worker</mat-label> -->
                            <mat-select formControlName="repeat">
                                <mat-option *ngFor="let Worker of select" [value]="Worker?.name">
                                  {{Worker.name}}
                                </mat-option>
                              </mat-select>
                        </mat-form-field>
                        </div>
                      </div>
                      <div *ngIf="false"  class="form-group form-group--inline">
                        <label>service_id<span>*</span>
                        </label>
                        <div class="form-group__content">
                          <input formControlName="service_id" value="{{sing}}" class="form-control" type="text">
                        </div>
                      </div>
                   
                        <div class="form-group form-group--inline">
                        <label>gallery<span></span>
                        </label>
                        <ngx-dropzone formControlName="gallery" (change)="onSelect($event)">
                            <ngx-dropzone-label formControlName="gallery">Drop it, baby!</ngx-dropzone-label>
                            <ngx-dropzone-image-preview formControlName="gallery" (removed)="onRemove(f)" [removable]="true" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                              </ngx-dropzone-image-preview>
                        </ngx-dropzone>

                        
                      </div> 
                       <div class="form-group form-group--inline">
                        <label>subService<span>*</span>
                        </label>
                        <div class="form-group__content">
                          <ng-select [multiple]="true"formControlName="sub_service_id" >
                            <ng-option *ngFor="let car of sub" [value]="[car?.id]" > {{car?.id}}
    
                            </ng-option>
                        </ng-select>
                    
                        </div>
                      </div>   
                  <div class="form-group">
                    <div class="ps-checkbox">
                    
                      <!-- <button style="
                      font-size: 18px;
                      width: 26%;
                      height: 51px;
                  " [disabled]="formAddOrder.invalid"   (click)="submit()" class="btn btn-success py-1 px-5 mx-2"  for="cb01">Create Order?</button>
                     -->
                  
                     <button [disabled]="formAddOrder.invalid" style="  color: white;  background: green;" (click)="showmodel()" class="ps-btn ps-btn--fullwidth btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal" > 
                      Create order <i class="bi bi-file-pdf"></i>
                     </button>
               
                     <div *ngIf="showFormDelete" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="container">
                        <div class="row">
                          <div class="modal-dialog" role="document">
                            <div class="container">
                              <div class="row">
                              <div class="col-md-6">
                                <div style="width: 70%;
                                margin-left: -272px;
                            " class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" style="border-bottom: 2px outset red;">payment cash</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                
                                  <br>
                                  <div class="modal-body">
                                   <div  role="alert" style="text-align: center">
                                   <img style=" width: 46%;" src="../../../assets/imgs/cash-payment-4024966-3337586.webp" alt="">
                                     </div>
                                 </div>
                                  <div class="modal-footer">
                                    <button (click)="submit()" type="button" class="btn btn-primary"  data-dismiss="modal">Yes</button>
                                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button> -->
                                  </div>
                                </div>
                                
                              </div>
                              <div class="col-md-6">
                                <div style="width: 70%;
                                margin-left: -272px;
                            " class="modal-content">
                                  <div class="modal-header">
                                    <h2 class="modal-title" style="border-bottom: 2px outset red;">add payment </h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                
                                  <br>
                                  <div class="modal-body">
                                   <div  role="alert" style="text-align: center">
                                   <img style=" width: 46%;" src="../../../assets/imgs/payment-protection-5353048-4468780.webp" alt="">
                                     </div>
                                 </div>
                                  <div class="modal-footer">
                                    <button (click)="submitAddPayment()" type="button" class="btn btn-primary"  data-dismiss="modal">Yes</button>
                                    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button> -->
                                  </div>
                                </div>
                                
                              </div>
                              </div>
    
                              
                            </div>
                           </div>
                        </div>
                      </div>
                     </div>
                  
                  </div>
                  </div>
               
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div *ngIf="showOrderfalse" class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Waring!</h4>
                    <p>this order already completed</p>
              
                  </div>
              <div *ngIf="showOrder" class="card"> 
                <button class="dismiss" type="button">×</button> 
                <div class="header"> 
                   <div class="image">
                     <i class="ti-check"></i>
                  </div> 
                    <div class="content">
                       <span class="title">Your Order is complete</span> 
                       <p class="message">You will be receiving a confirmation email with order details</p> 
                       </div> 
                       <div class="actions">
                          <button (click)="close()" class="history" type="button">Thank you</button> 
                       
                          </div> 
                          </div> 
                          </div>
                          <div *ngIf="pdf" class="card card-statistics mt-80 h-30"> 
                            <div class="card-body">   
                            <div class="file-box">   
                              <img class="img-fluid mb-20" src="../../../assets/imgs/PDF.png" alt="">
                               <div class="d-block d-md-flex justify-content-between">
                                  <div class="d-block">
                                    <!-- <h6><b>webmin_demo.pdf </b></h6>
                                    <p>28.8 kb </p> -->
                                  </div>
                                      <div class="d-block d-md-flex">
                                        <a (click)="Downloadpdf()"> <i class="fa fa-download"></i></a>
                                       </div>
                                    </div>
                                 </div>
                               </div>
                            </div>
             
           
             
        </div>
        </div>
      </form>
    </div>
  </div>