<div class="ps-hero bg--cover" data-background="" style="background: url(../../../assets/imgs/pngtree-cleaning-service-in-office-image_1107273.jpg);">
    <div class="ps-container">
      <h3>Shop Page</h3>
      <div class="ps-breadcrumb">
        <!-- <ol class="breadcrumb">
          <li><a >Home</a></li>
          <li class="active">Shop Page</li>
        </ol> -->
      </div>
    </div>
  </div>


  <main class="ps-main ps-sidebar-layout">
    <div class="ps-content">
      <div class="ps-collection mb-50"><a class="ps-collection__overlay"  ></a><img src="../../../assets/imgs/page-header-bg.jpg" alt=""></div>
      <div class="ps-products-sort">
        <!-- <p>Show 1-12 of 35 result</p> -->
            <div  class="btn-group bootstrap-select ps-select"><button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" title="Default Sorting"><span class="filter-option pull-left">Default Sorting</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open" role="combobox">
              <ul *ngFor="let item of cat"  class="dropdown-menu inner" role="listbox" aria-expanded="false">
                <li  data-original-index="1">
                  <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                    <span class="text">   {{item.title}}</span><span class="glyphicon glyphicon-ok check-mark"></span>
                  </a>
               
                  </li>
                
                </ul></div>
            <select  class="ps-select" title="Default Sorting" tabindex="-98">
              <option class="bs-title-option" value="">Default Sorting</option>
              <option></option>
        
            </select></div>
      </div>
      <!-- 5 items per column-->
      <div >
     <div class="row">
      <div *ngFor="let item of all" class="col-md-3">
        <div  routerLink="/details/{{item.id}}" class="ps-column">
          <div class="ps-product">
            <div class="ps-product__thumbnail">
              <div class="ps-badge"><span>New</span></div>
              <div class="ps-badge ps-badge--sale">
                <!-- <span>-35%</span> -->
              </div>
              <img style="height: 268px;width: 100%;" [src]="item.images" alt=""><a class="ps-product__overlay"routerLink="/details/{{item.id}}"></a>
              <div class="ps-product__content full">
              
                    <div class="br-wrapper br-theme-fontawesome-stars">
                      <select class="ps-rating" style="display: none;">
                        <ngx-star-rating class="myyy"  [(ngModel)]="item.rating" [id]="'rating'" ></ngx-star-rating>

                    </select>
                    <div class="br-widget">
                      <!-- <ngx-star-rating class="myyy"  [(ngModel)]="item.rating" [id]="'rating'" ></ngx-star-rating> -->

                      <!-- <div class="br-current-rating">1</div> -->
                    </div>
                  </div>
                  <!-- <a class="ps-product__title" href="product-detail-2.html">VEDBO Version 2018</a>
                <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
                <p class="ps-product__price">
                  <del>£220</del>£120
                </p> -->
                <a class="ps-btn ps-btn--sm ps-modal-open"   routerLink="/details/{{item.id}}">Add to cart</a>
                <p class="ps-product__feature"><i class="furniture-delivery-truck-2"></i>Free Shipping in 24 hours</p>
              </div>
            </div>
            <div class="ps-product__content">
                  <div class="br-wrapper br-theme-fontawesome-stars" style="    margin-bottom: 52px;margin-right: 38px;">
                    <ngx-star-rating class="myyy"  [(ngModel)]="item.rating" [id]="'rating'" ></ngx-star-rating>

                  <div class="br-widget">
</div>
</div>
        <a class="ps-product__title" href="product-detail-2.html">{{item.title}}</a>
              <div class="ps-product__categories"><a href="product-listing.html">Armchair</a></div>
              <p class="ps-product__price">
                <del>£220</del>£120
              </p>
            </div>
          </div>
        </div>
      </div>
     </div>
        
        
        
        
        
        
        
        
        
      </div>
      <div class="ps-pagination">
        <ul class="pagination">
          <li><a ><i class="fa fa-angle-left"></i></a></li>
          <li class="active"><a >1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>...</a></li>
          <li><a><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
    <aside class="ps-sidebar">
      <aside class="widget widget_sidebar widget_category">
        <h3 class="widget-title">Category</h3>
        <ul *ngFor="let item of cat" class="ps-list--checked">
          <li ><a >{{item.title}}</a></li>
      
        </ul>
      </aside>
   
     
    </aside>
  </main>