<div style="    text-align: center;margin-top: 137px;" >
  <img [src]="ReviewUser " alt="">
</div>
<div class="ps-review" style="margin-left: 91px;" *ngFor="let item of Review">

    <div class="ps-review__content"  style="width: 85%;
    margin-top: 27px;">
      <header>
        <div  class="br-wrapper br-theme-fontawesome-stars">
          <!-- <select class="ps-rating" style="display: none;">
          <option value="1">1</option>
          <option value="1">2</option>
          <option value="1">3</option>
          <option value="1">4</option>
          <option value="5">5</option>
        </select> -->

                <div>
                  <ngx-star-rating class="myyy"  [(ngModel)]="item.rating" [id]="'rating'" ></ngx-star-rating>

                </div>
        <div class="br-widget">
          <a  data-rating-value="1" data-rating-text="1" class="br-selected br-current">

          </a><a  data-rating-value="1" data-rating-text="2" class="br-selected br-current"></a>
          <a  data-rating-value="1" data-rating-text="3" class="br-selected br-current"></a>
          <a  data-rating-value="1" data-rating-text="4" class="br-selected br-current"></a>
          <a  data-rating-value="5" data-rating-text="5" class=""></a>
          <div class="br-current-rating"></div></div></div>
          <div class="d-flex align-items-center" >
            <div *ngFor="let users of item.user"><img style="border-radius: 50% 50%;width: 63px;height: 63px;" [src]="users.photo" alt=""></div>

        <p style=" margin-left: 16px;" *ngFor="let rr of item.user">By<a href="#"> {{rr.name}}</a> - November 25, 2017</p>
      </div>
      </header>
      <p> {{item.comments}}</p>
    </div>
  </div>