<div class="ps-hero bg--cover" data-background="images/hero/bread-1.jpg" style="background: url(../../../assets/imgs/breadcrumb.jpg);">
    <div class="ps-container">
      <h3>Whislist page</h3>
      <div class="ps-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="index-2.html">Home</a></li>
          <li class="active">Whislist page</li>
        </ol>
      </div>
    </div>
  </div>
<div class="page-content pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="about-text text-center mt-3">
                    <h2 class="title text-center mb-2">Who We Are</h2><!-- End .title text-center mb-2 -->
                    <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
                    <img src="../../../assets/imgs/signature.png" alt="signature" class="mx-auto mb-5">

                    <img src="../../../assets/imgs/pexels-andrea-piacquadio-3769711.jpg" alt="image" class="mx-auto mb-6">
                </div><!-- End .about-text -->
            </div><!-- End .col-lg-10 offset-1 -->
       
</div>
</div>
</div>